* {
  box-sizing: border-box;
}

colors{
--e-global-color-primary: #685454;
--e-global-color-secondary: #EA8A8A;
--e-global-color-text: #685454;
}

.App {
  padding: 4rem;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  /*background-color: #FFF7ED;*/
  font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
display: none;
}

body {
  font-family: 'Poppins',sans-serif;
  width: 100%
}
.small {
  width: 100px;
  height: 100px;
  margin: 10px auto 0 auto;
  }

html, body {
  margin: 0;
  padding: 0;
  background-color: #FFF7ED;
  font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
} 

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


header {
  width: 100%;
  background-color:#685454;
  color: #FFFFFF;
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
}

 
header .site-logo {
  color: black;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
}

header a {
  text-decoration: none;
  /* color: #4D4D4D; */
  color: #FFFFFF;
  font-weight: 600;
  padding: 5px 20px;
}
  /* color: #161616; */
header a:hover {
  color: #C4B29C;
  text-decoration: underline;
} 

header a:active {
  color: #EA8A8A;
  text-decoration: underline;
} 


header .login-icon {
  height: 18px;
  width: 18px;
}

header .login-link {
  display: inline-flex;
  align-items: center;
}

nav {
  display: flex;
}

main {
  margin-bottom: 84px;
}

footer {
  background-color:#685454;
  color: #FFFFFF;
  height: 74px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}

.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: .75rem 1.375rem;
  color: initial;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.link-button:hover {
  transform: translate(1px, 1px);
}



/*** HOME PAGE ***/
.home-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("../public/images/pet-hero.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 350px;
  color: white;
  padding: 45px 23px;
}

.home-container h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
}

.home-container p {
  line-height: 24px;
}

.home-container a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #EA8A8A;
  /*background-color: #FF8C38;*/
  border: none;
  width: 100%;
  margin-top: 200px;
  padding-block: .75rem;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.home-container a:hover {
  transform: translate(1px, 1px);
}


/*** ABOUT PAGE ***/
.about-hero-image {
  max-width: 100%;
}

.about-page-content {
  padding-inline: 23px;
  color: #161616;
  margin-bottom: 55px;
}

.about-page-content h1 {
  line-height: 38px;
}

.about-page-content p {
  line-height: 22px;
}

.about-page-cta {
  background-color: #F5E4C3;
  color: #161616;
  padding-inline: 32px;
  padding-bottom: 32px;
  margin-inline: 27px;
  border-radius: 5px;
}

.about-page-cta h2 {
  margin: 0;
  padding-block: 37px;
}

.about-page-cta .link-button {
  background-color: #EA8A8A;
  color: white;
  border-radius: 10px;
}



/** PET PAGES **/

.form-container {
  width: 80vw; 
  /*width: 1085px;*/
  /*height: 145px;*/
  border-radius: 10px;
  padding-left: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin: 3rem 0;
  background-color: #F5E4C3;
  display: flex;
  justify-content: center;
  align-items: stretch;

} 

.form-group {
  margin: 10px;
  margin-top: 0px;
}

.form-group-input {
  /* border: 1px solid #685454; */
  border-radius: 10px;
  width: 15rem;
  height: 4rem;
  text-align: center;
  background: #fff;
}

.form-label {
  display: block;
  font-size: var(--small-text);
  /* margin-bottom: 0.5rem; */
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

/* .form-row {
  margin-bottom: 2rem;
  margin-left: 2rem;
} */

::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

.search-button {
  background-color: #EA8A8A;
  border: transparent;
  border-radius: 5px;
  color: #FFFFFF;
  width: 6rem;
  height: 4rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.search-button:hover{
  background-color: #e75555;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}


.pet-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin-top: 57px;
}

.pet-tile {
  background-color: #F5E4C3;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.05);
}

.pet-tile a {
    color: #161616;
    text-decoration: none;    
}

.pet-tile img {
    background-color:#97a6bb;
    max-width: 100%;
    border-radius: 5, 0, 5px;
}

/* .pet-info {
  padding: 10px;
} */

.pet-list-container button {
    margin-right: 20px;
    cursor: pointer;
}

.pet-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.pet-type:hover {
    color: #FFEAD0;
}

.pet-type:focus {
    outline: none;
}

.pet-type.selected {
    color: #FFEAD0;
}

.pet-type.Cat:hover, .pet-type.Cat.selected {
    background-color: #E17654;
}

.pet-type.Dog:hover, .pet-type.Dog.selected {
    background-color: #115E59;
}

.pet-type.Bird:hover, .pet-type.Bird.selected {
    background-color: hsl(222, 94%, 57%);
}

.pet-type.Rabbit:hover, .pet-type.Rabbit.selected {
  background-color: hwb(283 27% 5%);
}

.pet-type.Small & Furry:hover, .pet-type. Small & Furry .selected {
  background-color: hwb(304 7% 7%);
}
.pet-type.Other:hover, .pet-type.Barnyard.selected {
  background-color: #161616;
}

.pet-type.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4D4D4D;
}

i[class*='pet-type-'] {
    padding: 7px 14px;
    margin-bottom: 14px;
}


  /*  PetDetail Page*/
  .pet-detail-container {
    padding-top: 3rem;
    padding: 27px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

  
}

.pet-detail-container .back-button {
    color: black;
    text-decoration: none;
}
  
.pet-detail-container .back-button:visited {
      
}
  
.pet-detail-container .back-button span {
    text-decoration: underline;
}
  
.pet-detail-img {
  border-radius: 5px;
  min-height: 300px;
  flex: 1 1 60rem;
    margin-block: 47px;
}


.pet-detail {
    flex: 1 1 30rem;
    color: #161616;
}
  

.pet-detail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
  
.pet-detail > i {
    align-self: flex-start;
}
  
.pet-detail .van-price {
    font-size: 1.25rem;
    margin-bottom: 10px;
}
  
.pet-detail .van-price span {
    font-weight: 700;
    font-size: 1.5rem;
 }
  
.pet-detail .link-button {
     background-color: #EA8A8A;
    color: white;
    font-size: 1.125rem;
}

.accordion{
background-color: #beae9d;
}
  .accordion-button {
    z-index: 3;
    background-color: #e7c9a9;
    outline: 3 !important;
    /* I changed the color on this line */
    /* If you do not want any color, just delete */
    box-shadow: 0 0 0 0.25rem #beae9d;
 }

 .accordion-button:focus {
  color: white;
  background-color: #aa6820
 }

#adopt-me {
  width: 33%;
  margin-left: auto;
  margin-right: auto;
}


.not-found-container {
  padding-inline: 26px;
}

.not-found-container .link-button {
  width: 100%;
  background-color: #161616;
  color: white;
}

/* Blog */
.blog-link-wrapper {
  color: unset;
  text-decoration: unset;
}

.blog-list {
  margin-top: 54px;
  padding-inline: 26px;
}

.blog-title {
  padding-inline: 26px;
}

.blog-single {
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 15px;
  padding-block: 18px;
  padding-left: 24px;
}

.blog-single > img {
  height: 300px;
  border-radius: 5px;
  margin-right: 17px;
}

.blog-info h3 {
  font-size: 20px;
  font-weight: 600;
  margin-block: 10px;
}

.blog-info p {
  margin-block: 10px;
}


/* Single Blog Page */


.blog-single-layout-container {
  background-color: white;
  padding: 24px;
  margin: 30px 26px;
}

.blog-single {
  display: flex;
  align-items: center;
}

.blog-single > img {
  height: 160px;
  border-radius: 5px;
  margin-right: 20px;
}

.blog-single-info-text > h3 {
  margin-top: 24px;
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: 700;
}

.blog-single-info-text > h4 {
  font-size: 20px;
  margin-block: 0;
}


/* Not Found Page*/

.not-found-container {
  padding-inline: 26px;
}

.not-found-container .link-button {
  width: 100%;
  background-color: #161616;
  color: white;
}


/* Login */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 27px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;    
}

.login-form > input {
  border: 1px solid rgba(209, 213, 219);
  height: 40px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
}

.login-form > input:focus {
  outline: none;
}

.login-form > input:first-of-type {
  border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}

.login-form > button {
  background-color: #EA8A8A;;
  border: none;
  border-radius: 6px;
  height: 55px;
  margin-top: 22px;
  color: white;
  font-family: "Inter", sans-serif;
}

.red {
  color: #cc0000;
}


/* Host NavBar */
.host-nav {
  display: flex;
}

.host-nav a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 500;
  padding: 5px 20px;
}

.host-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 600;
}

/*  Alt Pet Detail Layout*/
.host-van-detail-layout-container {
  background-color: white;
  padding: 24px;
  margin: 30px 26px;
  display: flex;
}

.host-van-detail {
  display: flex;
  align-items: center;
}

.host-van-detail > img {
  height: 160px;
  border-radius: 5px;
  margin-right: 20px;
}

.host-van-detail-info-text > h3 {
  margin-top: 24px;
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: 700;
}

.host-van-detail-info-text > h4 {
  font-size: 20px;
  margin-block: 0;
}

.host-van-detail-nav {
  display: flex;
  margin-block: 25px;
}

.host-van-detail-nav a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 500;
  padding: 5px 20px;
}

.host-van-detail-nav a:first-of-type {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 500;
  padding: 5px 15px;
  margin-left: -15px;
}

.host-van-detail-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 700;
}

.host-van-detail-info > h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
.host-van-detail-info > h4 > span {
  font-weight: 500;
}

.host-van-price {
  font-size: 24px;
  font-weight: 500;
}

.host-van-price > span {
  font-size: 16px;
  color: #4D4D4D;
}

.host-van-detail-image {
  height: 100px;
  border-radius: 5px;
}

